<h1>Today's Comments</h1>

<ul>
    <% @comments.each do |comment| %>
        <li>
            <strong> <%= comment.content %> </strong> - made by <%=comment.user_id %>
	     <%= link_to "Back to post", post_path(comment) %>  |  <%= link_to "Back to all posts!", posts_path %>
        </li>
    <% end %>
</ul>
